main {
    display: grid;
    grid-template-columns: 20vh 20vh 20vh;
    grid-gap: 0px;
    max-width: 100%;
}
  
app-square {
    border: 1px gray solid;
    height: 20vh;
    
}
@media only screen and (max-width: 600px) {
    main {
        grid-template-columns: 15vh 15vh 15vh;
    }
    app-square {
        height: 15vh;
    }
  }
